.swiper {
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: -1;
  height: 600px !important;
  width: 100%;
}
.swiper-slide {
  font-size: 18px;
  background: #e7e7e7;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.sliders {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;
  align-items: center;
  justify-content: center;
  background: #e7e7e7;
}
.sliderImg img {
  width: 75%;
  margin-left: 70px;
}
.slider1 {
  margin-left: 100px;
}
.slider1 h3 {
  color: #7e7c7c;
}
.slider1 h1 {
  font-size: 60px;
  color: #000;
  font-weight: 600;
}
.slider1 p {
  color: rgb(74, 73, 73);
  letter-spacing: 0.6px;
}
.slider1 button {
  background-color: rgba(255, 112, 4, 1);
  border: none;
  padding: 10px 30px;
  color: white;
  letter-spacing: 0.6px;
  font-weight: 500;
  transition: all 0.3s ease-in;
}
.slider1 button:hover {
  background-color: #000;
  color: rgba(255, 112, 4, 1);
}
@media screen and (max-width: 668px) {
  .main-slider-sction {
    margin-top: -52px;
  }
  .sliders {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .slider1 h1 {
    font-size: 40px;
  }
  .slider1 {
    margin-left: 40px;
  }
  .sliderImg img {
    width: 65%;
    margin-left: 40px;
  }
}
